### Read data and create Dataframes

In [1]:
import pandas as pd
import pyarrow.parquet as pq
import glob
import os


extracted_folder_path = "./data"
parquet_files = glob.glob(os.path.join(extracted_folder_path, '*.parquet'))


dataframes = [pd.read_parquet(file) for file in parquet_files]
combined_df = pd.concat(dataframes, ignore_index=True)

In [2]:
combined_df.head()

,KeySale,KeyDate,KeyStore,KeyWarehouse,KeyCustomer,KeyProduct,KeyEmployee,KeyCurrency,KeyDivision,KeyTicket,...,CostAmount,DiscAmount,Tickets,Products,Customers,Employees,Stores,Divisions,Time,Cedis
0,5540A1C6-1E83-EE11-8115-F4B520236BD7|5640A1C6-...,2023-11-14,1|007,1|1008,1|POS|32694425,1|61889,1|417,1|COP,1,1|F01-00322372,...,12246.09,0.0,{'KeySale': '5540A1C6-1E83-EE11-8115-F4B520236...,{'SubCategoryName': 'PLANTAS MEDICINALES ...,"{'KeyCustomer': '1|POS|32694425', 'CustomerCod...","{'KeyEmployee': '1|417', 'EmployeeCode': '417'...","{'KeyStore': '1|007', 'KeyDivision': '1', 'Sto...","{'KeyDivision': '1', 'DivisionCode': '1', 'Div...","{'KeyDate': 2023-11-14, 'Datetime': 2023-11-14...","{'KeyCedi': '1|1', 'KeyDivision': '1', 'CediCo..."
1,60E1ED08-2F6C-EE11-A750-DCFE07082371|61E1ED08-...,2023-10-16,1|004,1|1005,1|POS|25805420,1|42651,1|569,1|COP,1,1|F02-00561646,...,14634.00,0.0,{'KeySale': '60E1ED08-2F6C-EE11-A750-DCFE07082...,{'SubCategoryName': 'CORPORAL ...,"{'KeyCustomer': '1|POS|25805420', 'CustomerCod...","{'KeyEmployee': '1|569', 'EmployeeCode': '569'...","{'KeyStore': '1|004', 'KeyDivision': '1', 'Sto...","{'KeyDivision': '1', 'DivisionCode': '1', 'Div...","{'KeyDate': 2023-10-16, 'Datetime': 2023-10-16...","{'KeyCedi': '1|1', 'KeyDivision': '1', 'CediCo..."
2,4C9DF710-0587-EE11-A777-DCFE07082371|4D9DF710-...,2023-11-19,1|004,1|1005,1|POS|1045670943,1|42661,1|569,1|COP,1,1|F02-00564288,...,1347.99,0.0,{'KeySale': '4C9DF710-0587-EE11-A777-DCFE07082...,{'SubCategoryName': 'CORPORAL ...,"{'KeyCustomer': '1|POS|1045670943', 'CustomerC...","{'KeyEmployee': '1|569', 'EmployeeCode': '569'...","{'KeyStore': '1|004', 'KeyDivision': '1', 'Sto...","{'KeyDivision': '1', 'DivisionCode': '1', 'Div...","{'KeyDate': 2023-11-19, 'Datetime': 2023-11-19...","{'KeyCedi': '1|1', 'KeyDivision': '1', 'CediCo..."
3,F3769ABC-4182-EE11-A76E-DCFE07082371|74071D14-...,2023-11-13,1|004,1|1005,1|POS|56090404,1|42666,1|569,1|COP,1,1|F02-00563851,...,9800.00,0.0,{'KeySale': 'F3769ABC-4182-EE11-A76E-DCFE07082...,{'SubCategoryName': 'INSUMOS ...,"{'KeyCustomer': '1|POS|56090404', 'CustomerCod...","{'KeyEmployee': '1|569', 'EmployeeCode': '569'...","{'KeyStore': '1|004', 'KeyDivision': '1', 'Sto...","{'KeyDivision': '1', 'DivisionCode': '1', 'Div...","{'KeyDate': 2023-11-13, 'Datetime': 2023-11-13...","{'KeyCedi': '1|1', 'KeyDivision': '1', 'CediCo..."
4,2D513DE7-D27C-EE11-A767-DCFE07082371|0D91B68A-...,2023-11-06,1|004,1|1005,1|POS|1126245340,1|42678,1|569,1|COP,1,1|F02-00563261,...,4080.00,0.0,{'KeySale': '2D513DE7-D27C-EE11-A767-DCFE07082...,{'SubCategoryName': 'ESPACIOS ...,"{'KeyCustomer': '1|POS|1126245340', 'CustomerC...","{'KeyEmployee': '1|569', 'EmployeeCode': '569'...","{'KeyStore': '1|004', 'KeyDivision': '1', 'Sto...","{'KeyDivision': '1', 'DivisionCode': '1', 'Div...","{'KeyDate': 2023-11-06, 'Datetime': 2023-11-06...","{'KeyCedi': '1|1', 'KeyDivision': '1', 'CediCo..."

#### Clean data

In [5]:
# Check missing data for columns
missing_data = combined_df.isnull().sum()
missing_data

KeySale         0
KeyDate         0
KeyStore        0
KeyWarehouse    0
KeyCustomer     0
KeyProduct      0
KeyEmployee     0
KeyCurrency     0
KeyDivision     0
KeyTicket       0
KeyCedi         0
TicketId        0
Qty             0
Amount          0
CostAmount      0
DiscAmount      0
Tickets         0
Products        0
Customers       0
Employees       0
Stores          0
Divisions       0
Time            0
Cedis           0
dtype: int64

In [6]:
# check data types
data_types = combined_df.dtypes
data_types

KeySale          object
KeyDate          object
KeyStore         object
KeyWarehouse     object
KeyCustomer      object
KeyProduct       object
KeyEmployee      object
KeyCurrency      object
KeyDivision      object
KeyTicket        object
KeyCedi          object
TicketId         object
Qty             float64
Amount          float64
CostAmount      float64
DiscAmount      float64
Tickets          object
Products         object
Customers        object
Employees        object
Stores           object
Divisions        object
Time             object
Cedis            object
dtype: object

In [7]:
# remove rows with missing  for key columns
columns_to_check = ['KeyDate', 'KeyEmployee', 'KeyProduct', 'KeyStore', 'Amount']
cleaned_data = combined_df.dropna(subset=columns_to_check)

In [8]:
# parse data types for keyDate, Amount and Qty
cleaned_data['KeyDate'] = pd.to_datetime(cleaned_data['KeyDate'])
cleaned_data['Amount'] = pd.to_numeric(cleaned_data['Amount'], errors='coerce')
cleaned_data['Qty'] = pd.to_numeric(cleaned_data['Qty'], errors='coerce')

In [ ]:
# Remove any row for no numeric values on the column Amount
cleaned_data = cleaned_data.dropna(subset=['Amount'])

In [ ]:
# Remove any row for no numeric values on the column Qty
cleaned_data = cleaned_data.dropna(subset=['Qty'])

In [9]:
# parse to str for key columns
cleaned_data['KeyEmployee'] = cleaned_data['KeyEmployee'].astype(str)
cleaned_data['KeyProduct'] = cleaned_data['KeyProduct'].astype(str)
cleaned_data['KeyStore'] = cleaned_data['KeyStore'].astype(str)

In [10]:
# check changes 
cleaned_data_info = cleaned_data.info()
cleaned_data_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323326 entries, 0 to 323325
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   KeySale       323326 non-null  object
 1   KeyDate       323326 non-null  datetime64[ns]
 2   KeyStore      323326 non-null  object
 3   KeyWarehouse  323326 non-null  object
 4   KeyCustomer   323326 non-null  object
 5   KeyProduct    323326 non-null  object
 6   KeyEmployee   323326 non-null  object
 7   KeyCurrency   323326 non-null  object
 8   KeyDivision   323326 non-null  object
 9   KeyTicket     323326 non-null  object
 10  KeyCedi       323326 non-null  object
 11  TicketId      323326 non-null  object
 12  Qty           323326 non-null  float64
 13  Amount        323326 non-null  float64
 14  CostAmount    323326 non-null  float64
 15  DiscAmount    323326 non-null  float64
 16  Tickets       323326 non-null  object
 17  Products      323326 non-null  object
 18  Customers     323326 non-null  object
 19  Employees     323326 non-null  object
 20  Stores        323326 non-null  object
 21  Divisions     323326 non-null  object
 22  Time          323326 non-null  object
 23  Cedis         323326 non-null  object
dtypes: datetime64[ns](1), float64(4), object(19)
memory usage: 59.2+ MB

In [11]:
missing_data_cleaned = cleaned_data.isnull().sum()
missing_data_cleaned

KeySale         0
KeyDate         0
KeyStore        0
KeyWarehouse    0
KeyCustomer     0
KeyProduct      0
KeyEmployee     0
KeyCurrency     0
KeyDivision     0
KeyTicket       0
KeyCedi         0
TicketId        0
Qty             0
Amount          0
CostAmount      0
DiscAmount      0
Tickets         0
Products        0
Customers       0
Employees       0
Stores          0
Divisions       0
Time            0
Cedis           0
dtype: int64

#### Sales by employee in date rage analysis

In [12]:
cleaned_data['KeyDate'] = pd.to_datetime(cleaned_data['KeyDate'])

start_date = '2023-10-01'
end_date = '2023-11-30'

filtered_data = cleaned_data[(cleaned_data['KeyDate'] >= start_date) & (cleaned_data['KeyDate'] <= end_date)]

sales_by_employee = filtered_data.groupby('KeyEmployee')['Amount'].sum().reset_index()

In [13]:
sales_by_employee.head()

  KeyEmployee       Amount
0     1|10250  81621151.73
1     1|10436  19746983.41
2     1|10519  11448286.02
3     1|10575  21913731.90
4     1|10580  47565230.27

In [ ]:
combined_df.head().to_csv('data.csv')